<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Frequently Asked Questions</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Frequently Asked Questions</li>
            </ul>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="faq-area ptb-100">
    <div class="container">
        <div class="faq-accordion">
            <div class="box">
                <h3>Getting Started</h3>
                <div class="accordion">
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }">
                            What is Jend?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(0) }">
                            <p><strong>Jend</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Jend</strong>, a company who values you and your family, visit our careers page.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }">
                            Can I publish a job listing on your platform?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(1) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }">
                            Is Jend Finder a job board?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(2) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                            <p>Tunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }">
                            Can I delete my account?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(3) }">
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(4)" [ngClass]="{ 'open': isSectionOpen(4) }">
                            How can I change my password?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(4) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <h3>Account/Profile</h3>
                <div class="accordion">
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(5)" [ngClass]="{ 'open': isSectionOpen(5) }">
                            How can I change the e-mail address for my account?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(5) }">
                            <p><strong>Jend</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Jend</strong>, a company who values you and your family, visit our careers page.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(6)" [ngClass]="{ 'open': isSectionOpen(6) }">
                            Could I request a call back?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(6) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(7)" [ngClass]="{ 'open': isSectionOpen(7) }">
                            How do I speak to an advisor using Live Chat?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(7) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                            <p>Tunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(8)" [ngClass]="{ 'open': isSectionOpen(8) }">
                            How do I post a job on your platform?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(8) }">
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(9)" [ngClass]="{ 'open': isSectionOpen(9) }">
                            How can I unsubscribe from your mailing list?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(9) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <h3>Purchase/Refunds</h3>
                <div class="accordion">
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(10)" [ngClass]="{ 'open': isSectionOpen(10) }">
                            Can I publish a job listing for free?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(10) }">
                            <p><strong>Jend</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Jend</strong>, a company who values you and your family, visit our careers page.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(11)" [ngClass]="{ 'open': isSectionOpen(11) }">
                            How can I write a review?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(11) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(12)" [ngClass]="{ 'open': isSectionOpen(12) }">
                            What are the payment methods?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(12) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                            <p>Tunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(13)" [ngClass]="{ 'open': isSectionOpen(13) }">
                            How many jobs can I post at once?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(13) }">
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(14)" [ngClass]="{ 'open': isSectionOpen(14) }">
                            What types of job I cannot post?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(14) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>